* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(41, 41, 41);
}
  
.back {
  float: left;
  width: 30px;
  height: auto;
  margin-left: 20px;
  padding-top: 3px;
}

.ar-container {
  height: 80vh;
  margin-bottom: 20vh;
}

.button-area {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: red;
}