* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(41, 41, 41);
}

body {
    justify-content:center;
    align-items: center;
}

p {
    font-size: 16px;
}

h3 {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 0;
    text-shadow: 2px 2px black;
}

h4 {
    font-size: 25px;
    margin-left: 40px;
    margin-top: 30px;
}



/* -------- Seiten --------------------------*/
/* ------------------------------------------*/

.search {
    float: right;
    margin-right: 5%;
    margin-top:2%;
    width: 80px;
    padding: 1%;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid black;  
}



/* -------- Buttons -------------------------*/
/* ------------------------------------------*/



/* -------- Content -------------------------*/
/* ------------------------------------------*/

.content-container {
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 90%;
    margin: 20px 5% 10px 5%;
    display: flex;
    border-radius: 15px;
    border: 1px solid rgb(74, 74, 74);
}

.content-container img {
    width: 100px;
    height: auto;
    border-radius: 15px 0 0 15px;
}
